#container{
    overflow: auto;
    background-color: burlywood;
}
img{
    width: 300px;
    float: left;
    /* position: absolute; */
    margin: 10px;
}
p{
    overflow: auto;
    border: 2px solid red;
    text-align: justify;
    clear: right;
}