#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.8fr;
    grid-template-rows: 150px 300px 200px 120px;
    grid-gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.content {
    background-color: #4169E1;
    color: white;
    padding: 10px;
}

.content1 {
    grid-column: 1/5;
    grid-row: 1/2;
}

.content5 {
    grid-column: 4/5;
    grid-row: 2/4;
}

.content6 {
    grid-column: 1/4;
    grid-row: 3/4;
}

.content7 {
    grid-column: 1/5;
    grid-row: 4/5;
}